{% extends "base.html" %}
{% block title %}Transaction input{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function () {

    $("#input-nav").addClass("active");
    $("#view-nav").removeClass("active");
    $("#pivot-nav").removeClass("active");

    // Constructing the suggestion engine
    var categories = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.whitespace,
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      local: {{ categories| tojson | safe}}
    });
  var suppliers = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: {{ suppliers| tojson | safe}}
    });

  // Initializing the typeahead
  $("#category-input-id").typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
    {
      source: categories
    });
  $("#supplier-input-id").typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
    {
      source: suppliers
    });
  });

  $("#supplier-input-id").focusout(function () {
    $.get("/guess/category?q=" + $("#supplier-input-id").val(), function (data) {
      $("#category-input-id").val(data.category);
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Latest transactions</h1>
    <p class="lead">Why not add a new transaction now?</p>
  </div>
</div>
<!-- /.row -->

<div class="row">
  <table id="last_transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Date</th>
        <th>Supplier</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table_rows %}
      <tr>
        {% for cell in row[1:-1] %}
        <td>{{ cell }}</td>
        {% endfor %}
        <td>
          <a href="{{ url_for('transactions.get_transaction', transaction_id=row[0]) }}" class="btn btn-info">
            View <i class="fa fa-chevron-right"></i>
          </a>
          {% if row[-1] %}
          <i class="fa fa-tag" style="color:mediumvioletred"></i>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <form id="add" method="post" action="{{ url_for('transactions.input_transaction') }}">
        <tr>
          <td>
            <input name="day" form="add" class="form-control" type="date" value="{{ today }}">
          </td>
          <td>
            <input name="supplier" form="add" class="suppliers form-control" id="supplier-input-id" type="text"
              placeholder="Supplier">
          </td>
          <td>
            <input name="amount" form="add" class="form-control" type="text" placeholder="Amount">
          </td>
          <td>
            <input name="category" form="add" class="categories form-control" id="category-input-id" type="text"
              placeholder="Category">
          </td>
          <td>
            <button type="submit" form="add" class="btn btn-success">
              Add <i class="fa fa-plus-circle"></i>
            </button>
          </td>
        </tr>
      </form>
    </tbody>
  </table>
</div>

<div class="row">

</div>
{% endblock %}