{% extends "base.html.j2" %}
{% block title %}Transaction input{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function () {

    $("#input-nav").addClass("active");
    $("#view-nav").removeClass("active");
    $("#pivot-nav").removeClass("active");
    $("#export-nav").removeClass("active");

    $("#supplier-input-id").focusout(function () {
      $.get("/autocomplete/category/guess?q=" + $("#supplier-input-id").val(), function (data) {
        $("#category-input-id").val(data.category);
      });
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Latest transactions</h1>
    <p class="lead">Why not add a new transaction now?</p>
  </div>
</div>

<div class="row">
  <table id="last_transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Date</th>
        <th>Supplier</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.supplier }}</td>
        <td>{{ transaction.amount | currency_format }}</td>
        <td>{{ transaction.category }}</td>
        <td>
          <a href="/transactions/{{ transaction.id }}" class="btn btn-info">
            View <i class="fa fa-chevron-right"></i>
          </a>
          {% if transaction.notes %}
          <i class="fa fa-tag" style="color:mediumvioletred"></i>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <form id="add" method="post" action="/transactions">
        <tr>
          <td>
            <input name="day" form="add" class="form-control" type="date" value="{{ today }}">
          </td>
          <td>
            <input name="supplier" form="add" class="suppliers form-control" id="supplier-input-id" type="text"
              placeholder="Supplier" list="suppliers">
            <datalist id="suppliers">
              {% for supplier in suppliers %}
              <option value="{{ supplier }}"></option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <input name="amount" form="add" class="form-control" type="text" placeholder="Amount">
          </td>
          <td>
            <input name="category" form="add" class="categories form-control" id="category-input-id" type="text"
              placeholder="Category" list="categories">
            <datalist id="categories">
              {% for category in categories %}
              <option value="{{ category }}"></option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <button type="submit" form="add" class="btn btn-success">
              Add <i class="fa fa-plus-circle"></i>
            </button>
          </td>
        </tr>
      </form>
    </tbody>
  </table>
</div>
{% endblock %}