{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function() {

    // Constructing the suggestion engine
    var categories = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: {{categories|tojson|safe}}
    });
    var suppliers = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: {{suppliers|tojson|safe}}
    });

    // Initializing the typeahead
    $('.categories').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      source: categories
    });
    $('.suppliers').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    },
    {
      source: suppliers
    });
  });
</script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Latest transactions</h1>
                <p class="lead">Why not add a new transaction now?</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <table id="last_transactions_table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Supplier</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                  {% for row in table_rows %}
                    <tr>
                        {% for cell in row[1:] %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                        <td><a href="/transaction/{{ row[0] }}" class="btn btn-info">View</a></td>
                    </tr>
                  {% endfor %}
                    <form id="add" method="post" action="/input">
                      <tr>
                        <td>
                          <input name="day" form="add" class="form-control" type="date" value="{{ today }}">
                        </td>
                        <td>
                          <input name="supplier" form="add" class="suppliers form-control" type="text" placeholder="Supplier">
                        </td>
                        <td>
                          <input name="amount" form="add" class="form-control" type="text" placeholder="Amount">
                        </td>
                        <td>
                          <input name="category" form="add" class="categories form-control" type="text" placeholder="Category">
                        </td>
                        <td>
                          <input type="submit" form="add" class="btn btn-success" value="Add">
                        </td>
                      </tr>
                    </form>
                </tbody>
            </table>
        </div>

        <div class="row">

        </div>
{% endblock %}
