{% extends "base.html.j2" %}
{% block title %}All people{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    $("#people-nav").addClass("active");
    $("#transactions-nav").removeClass("active");
    $("#add-person-nav").removeClass("active");
    $("#add-transaction-nav").removeClass("active");
    $("#export-nav").removeClass("active");

    $("#table_id").DataTable({
      "stateSave": true,
      "lengthMenu": [50, 75, 100],
      "order": [],
    });
  });
</script>
{% endblock %}

{% block taskbar %}
<div class="navbar-collapse collapse">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" id="tax-nav" href="{{ url_for('all_receipts_pdf_view', year=year-1) }}">Tax receipts {{year - 1}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="export-nav" href="{{ url_for('show_export_info') }}">Export</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1>All people</h1>
  </div>
</div>

<div>
  <table id="table_id" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
    <thead>
      <tr>
        <th>Last name</th>
        <th>First name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Total</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for person in persons %}
      <tr>
        <td>{{ person.last_name }}</td>
        <td>{{ person.first_name }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.total | currency_format }}</td>
        <td>
          <a href="{{ url_for('person_summary_view', person_id=person.id) }}" class="btn btn-info btn-sm">
            View <i class="fa fa-chevron-right"></i>
          </a>
          {% if person.notes %}
          <i class="fa fa-tag" style="color:mediumvioletred"></i>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}