{% extends "base.html.j2" %}
{% block title %}Person card{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("#people-nav").removeClass("active");
    $("#transactions-nav").removeClass("active");
    $("#add-person-nav").removeClass("active");
    $("#add-transaction-nav").removeClass("active");
    $("#export-nav").removeClass("active");

    $("#last_transactions_table").DataTable({
      "stateSave": true,
      "lengthMenu": [10, 20, 50],
      "order": [],
      "infoCallback": function( settings, start, end, max, total, pre ) {
        var api = this.api();
        var totalAmount = api.column( 2, { page: 'current' } ).data().reduce( 
          function (a, b) { return a + parseFloat(b); }, 0.0 
        );
        return 'Showing ' + start + ' to ' + end + ' of ' + total + ' entries ' + 
          '(total amount of $' + totalAmount.toFixed(2) + ')';
      }
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>{{ person['full_name'] }}</h1>
    </div>
</div>

<div class="row">
  <table id="table_id" class="table">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{ person['full_name'] }}</td>
        <td rowspan="4">{{ person['notes'] or 'No notes were added'}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ person['email'] }}</td>
      </tr>
      <tr>
        <th>Phone number</th>
        <td>{{ person['phone'] }}</td>
      </tr>
      <tr>
        <th>Address</th>
        <td>{{ person['address'] }}</td>
      </tr>
      <tr>
        <th>Actions</th>
        <td>
          <a href="{{ url_for('persons.edit', person_id=person['id']) }}" class="btn btn-success mr-3">
          Edit <i class="fa fa-chevron-right"></i></a>
          <a href="{{ url_for('persons.receipt', person_id=person['id'], year=tax_year) }}" class="btn btn-info">
          Tax Receipt {{ tax_year }} <i class="fa fa-file-text-o"></i></a>
        </td>
        <td>
          <div class="row">
            <i>Last modified {{ person['last_modified'] }}</i>
          </div>
          <div class="row">
            <i>Created on {{ person['created_at'] }}</i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<hr><hr>

<div class="row">
  <div class="col-lg-12">
    <h2> Transactions </h2> 
    <p class="lead">
      {{person.transactions|length}} transactions for 
      a total amount of ${{person.transactions | sum(attribute='amount', start=0) | currency_format}}
    </p>
    <table id="last_transactions_table" class="table table-striped table-bordered" cellspacing="0">
      <thead>
        <tr>
          <th>Date</th>
          <th>Method</th>
          <th>Amount</th>
          <th>Accepted by</th>
          <th>Memo</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in person.transactions %}
        <tr>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.method }}</td>
          <td>{{ transaction.amount | currency_format}}</td>
          <td>{{ transaction.accepted_by }}</td>
          <td>{{ transaction.memo }}</td>
          <td>
            <a href="{{ url_for('transactions.get', transaction_id=transaction.id) }}" class="btn btn-success">
              View <i class="fa fa-chevron-right"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}