{% extends "base.html" %}
{% block title %}Pivot table{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {

    $("#input-nav").removeClass("active");
    $("#view-nav").removeClass("active");
    $("#pivot-nav").addClass("active");

    $('#pivot').DataTable({
      "stateSave": true,
      "lengthMenu": [50, 75, 100],
      "order": []
    });
  });
</script>
{% endblock %}

{% block taskbar %}
<a class="btn btn-success btn-sm mx-sm-1" href="{{ url_for('tables.download_pivot', format='csv') }}">
  <i class="fa fa-cloud-download"></i> CSV
</a>
<a class="btn btn-success btn-sm mx-sm-1" href="{{ url_for('tables.download_pivot', format='xlsx') }}">
  <i class="fa fa-cloud-download"></i> XLSX
</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Pivot table for {{ year }}</h1>
    <p class="lead">So much better than Excel, isn't it?</p>
  </div>
</div>

<div class="row">
  <table id="pivot" class="table table-bordered table-hover table small" cellspacing="0" width="100%">
    <thead class="table-info">
      <tr>
        {% for c in table_rows[0] %}
        <th>{{ c }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table_rows[1:-1] %}
      <tr>
        <th>{{ row[0] }}</th>
        {% for cell in row[1:] %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="table-info">
      <tr>
        <th>{{ table_rows[-1][0] }}</th>
        {% for cell in table_rows[-1][1:] %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
    </tfoot>
  </table>
</div>
{% endblock %}