{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block scripts %}
<script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>All your transactions</h1>
                <p class="lead">Search, filter and have fun!</p>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
          <table id="table_id" class="display">
              <thead>
                  <tr>
                      <th>Date</th>
                      <th>Supplier</th>
                      <th>Amount</th>
                      <th>Category</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                {% for row in table_rows %}
                  <tr>
                      {% for cell in row[1:] %}
                      <td>{{ cell }}</td>
                      {% endfor %}
                      <td>
                        <a href="/transaction/{{ row[0] }}" class="btn btn-success">
                          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                        </a>
                        <!--form style="display: inline;" method="DELETE" action="/transaction/{{ row[0] }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form-->
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
{% endblock %}
