{% extends "base.html" %}
{% block title %}All transactions{% endblock %}

{% block scripts %}
<script>
$(document).ready( function () {
    $('#table_id').DataTable({
      stateSave: true
    });
} );
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="offset1 span8 pull-right">
        <a href="{{ url_for('download', filename='transactions', format='csv', begin=begin, end=end)}}" class="btn btn-success">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span> CSV
        </a>
        <a href="{{ url_for('download', filename='transactions', format='xlsx', begin=begin, end=end)}}" class="btn btn-success">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span> XLSX
        </a>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>All your transactions</h1>
        <p class="lead">Search, filter and have fun!</p>
    </div>
</div>
<!-- /.row -->

<div class="row">
  <div class="col-lg-12 text-center">
    <p class="lead">
      <form id="filter" class="form-inline">
        <input name="begin" form="filter" class="form-control" type="date", value="{{ begin }}">
        <input name="end" form="filter" class="form-control" type="date" value="{{ end }}">
        <button type="submit" form="filter" class="btn btn-success">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Filter
        </button>
        <button type="reset" form="filter" class="btn btn-danger">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Reset
        </button>
      </form>
    </p>
  </div>
</div>

<div class="row">
  <table id="table_id" class="display">
      <thead>
          <tr>
              <th>Date</th>
              <th>Supplier</th>
              <th>Amount</th>
              <th>Category</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        {% for row in table_rows %}
          <tr>
              {% for cell in row[1:-1] %}
              <td>{{ cell }}</td>
              {% endfor %}
              <td>
                <a href="{{ url_for('transaction', transaction_id=row[0]) }}" class="btn btn-success">
                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                </a>
                {% if row[-1] %}
                  <span class="glyphicon glyphicon-tag" aria-hidden="true" style="color:mediumvioletred"></span>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
