{% extends "base.html" %}
{% block title %}All transactions{% endblock %}

{% block scripts %}
<script>
$(document).ready( function () {
    $('#table_id').DataTable({
      "stateSave": true,
      "lengthMenu": [ 50, 75, 100 ],
      "order": [],
    });
} );
</script>
{% endblock %}

{% block taskbar %}
<a class="btn btn-success btn-sm mx-sm-1"
   href="{{ url_for('download', filename='transactions', format='csv', begin=begin, end=end)}}">
  <i class="fa fa-cloud-download"></i> CSV
</a>
<a class="btn btn-success btn-sm mx-sm-1"
   href="{{ url_for('download', filename='transactions', format='xlsx', begin=begin, end=end)}}">
  <i class="fa fa-cloud-download"></i> XLSX
</a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>All your transactions</h1>
        <p class="lead">Search, filter and have fun!</p>
    </div>
</div>

<div class="row">
  <div class="col-lg-3 text-left">
    <p class="lead">
      <div class="dropdown show">
        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMonth"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ month }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="?month=January">January</a>
          <a class="dropdown-item" href="?month=February">February</a>
          <a class="dropdown-item" href="?month=March">March</a>
          <a class="dropdown-item" href="?month=April">April</a>
          <a class="dropdown-item" href="?month=May">May</a>
          <a class="dropdown-item" href="?month=June">June</a>
          <a class="dropdown-item" href="?month=July">July</a>
          <a class="dropdown-item" href="?month=August">August</a>
          <a class="dropdown-item" href="?month=September">September</a>
          <a class="dropdown-item" href="?month=October">October</a>
          <a class="dropdown-item" href="?month=November">November</a>
          <a class="dropdown-item" href="?month=December">December</a>
        </div>
      </div>
    </p>
  </div>
  <div class="col-lg-8 text-center">
    <p class="lead">
      <form id="filter" class="form-inline">
        <input name="begin" form="filter" class="form-control-sm" type="date", value="{{ begin }}">
        <input name="end" form="filter" class="form-control-sm" type="date" value="{{ end }}">
        <button type="submit" form="filter" class="btn btn-success btn-sm">
          <i class="fa fa-search"></i> Filter
        </button>
        <button type="reset" form="filter" class="btn btn-danger btn-sm">
          Reset
        </button>
      </form>
    </p>
  </div>
</div>

<div class="row">
  <table id="table_id" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
          <tr>
              <th>Date</th>
              <th>Supplier</th>
              <th>Amount</th>
              <th>Category</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        {% for row in table_rows %}
          <tr>
              {% for cell in row[1:-1] %}
              <td>{{ cell }}</td>
              {% endfor %}
              <td>
                <a href="{{ url_for('transaction', transaction_id=row[0]) }}" class="btn btn-success btn-sm">
                  <i class="fa fa-pencil"></i> Edit
                </a>
                {% if row[-1] %}
                  <i class="fa fa-tag" style="color:mediumvioletred"></i>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
