<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=800, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/tax_receipt.css">

  <title>{{ name }}</title>
</head>

<body>
  {% for copy_name in ['Copy 1 &mdash; Income Tax Return', 'Copy 2 &mdash; For Your Records'] %}
  <table id="grid-{{ loop.index }}">
    <colgroup>
      <col span="1" style="width: 37%;">
      <col span="1" style="width: 33%;">
      <col span="1" style="width: auto;">
    </colgroup>
    <tbody>
      <tr>
        <td colspan="2">{{ org }}</td>
        <td class="receipt">
          <p>Receipt # {{ receipt_number }} <br> {{ receipt_date }}</p>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-center">
          <h4>Official Donation Receipt For Income Tax Purposes</h4>
          <p><em>{{ copy_name | safe }}</em></p>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="offset">
          <address>
            Donated by: {{ name }}<br> {{ address | display_newlines }}
          </address>
        </td>
        <td>
          <p>For the Tax Year: {{ tax_year }}</p>
          <p><strong>Eligible Amount: {{ amount | currency_format }}</strong></p>
        </td>
      </tr>
      <tr>
        <td class="offset" style="vertical-align: top;">
          <label>Authorized Signature:</label>
        </td>
        <td colspan="2" class="signature">
          <div id="signature-container">
            <img src="{{ signature_url or '/static/sample-signature.png' }}" alt="Signature">
          </div>
          <p>{{ treasurer }}, Treasurer</p>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" class="text-center">
          <p>
            For information on all registered charities in Canada under the Income Tax Act please contact
            Canada Revenue Agency <a href="https://canada.ca/charities-giving">canada.ca/charities-giving</a>.
          </p>
        </td>
      </tr>
    </tfoot>
  </table>

  {% if not loop.last %}
  <hr>
  {% endif %}
  {% endfor %}
  <style>
    #grid-1 td.signature img,
    #grid-2 td.signature img {
      width: 160px !important;
      height: 80px !important;
    }
    #grid-2 td.signature img {
      top: -44px !important;
    }
    #grid-2 #signature-container {
      min-height: 30px;
    }
    #grid-2 td.signature {
      text-align: center;
    }
    #grid-2 td.signature p {
      margin-top: 0.2rem;
    }
    #grid-1 td.signature img,
    #grid-2 td.signature img {
      display: block;
    }
    #grid-1 td.signature #signature-container,
    #grid-2 td.signature #signature-container {
      position: relative;
    }
    #grid-1 td.signature p,
    #grid-2 td.signature p {
      position: relative;
      z-index: 2;
    }
    #grid-1 td.signature img,
    #grid-2 td.signature img {
      z-index: 1;
    }
  </style>
</body>
</html>
