<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=800, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/tax_receipt.css">

  <title>{{ name }}</title>
</head>

<body>
  <table id="grid-1">
      <colgroup>
        <col span="1" style="width: 37%;">
        <col span="1" style="width: 33%;">
        <col span="1" style="width: auto;">
      </colgroup>
    <tbody>
      <tr>
        <td colspan="2">{{ org }}</td>
        <td class="receipt">
          <p>Receipt # {{ receipt_number }} <br> {{ receipt_date }}
        </td>
      <tr>
        <td colspan="3" class="text-center">
          <h4>Official Donation Receipt For Income Tax Purposes</h4>
          <p><em>Copy 1 &mdash; Income Tax Return</em></p>
        </td>
      <tr>
      <tr>
        <td colspan="2" class="offset">
          <address>
            Donated by: {{ name }}<br> {{ address | display_newlines }}
          </address>
        </td>
        <td>
          <p>For the Tax Year: {{ tax_year }}</p>
          <p><strong>Eligible Amount: {{ amount | currency_format }}</strong></p>
        </td>
      </tr>
      <tr>
        <td class="offset" style="vertical-align: top;">
          <label for="sign-1">Authorized Signature:</label>
        </td>  
        <td colspan="2" class="signature">
          <input type="password" id="sign-1">
          <p> {{ treasurer }}, Treasurer</p>
        </td>
      </tr>
      <tfoot>
        <td colspan="3" class="text-center">
          <p>
            For information on all registered charities in Canada under the Income Tax Act please contact
            Canada Revenue Agency <a href="https://canada.ca/charities-giving">canada.ca/charities-giving</a>.
          </p>
        </td>
      <tfoot>
    </tbody>
  </table>

  <hr>

  <table id="grid-2">
      <colgroup>
        <col span="1" style="width: 37%;">
        <col span="1" style="width: 30%;">
        <col span="1" style="width: auto;">
      </colgroup>
    <tbody>
      <tr>
        <td colspan="2">{{ org }}</td>
        <td class="receipt">
          <p>Receipt # {{ receipt_number }} <br> {{ receipt_date }}
        </td>
      <tr>
        <td colspan="3" class="text-center">
          <h4>Official Donation Receipt For Income Tax Purposes</h4>
          <p><em>Copy 2 &mdash; For Your Records</em></p>
        </td>
      <tr>
      <tr>
        <td colspan="2" class="offset">
          <address>
            Donated by: {{ name }}<br> {{ address | display_newlines }}
          </address>
        </td>
        <td>
          <p>For the Tax Year: {{ tax_year }}</p>
          <p><strong>Eligible Amount: {{ amount | currency_format }}</strong></p>
        </td>
      </tr>
      <tr>
        <td class="offset" style="vertical-align: top;">
          <label for="sign-2">Authorized Signature:</label>
        </td>  
        <td colspan="2" class="text-center">
          <input type="password" id="sign-2">
          <p> {{ treasurer }}, Treasurer</p>
        </td>
      </tr>
      <tfoot>
        <td colspan="3" class="text-center">
          <p>
            For information on all registered charities in Canada under the Income Tax Act please contact
            Canada Revenue Agency <a href="https://canada.ca/charities-giving">canada.ca/charities-giving</a>.
          </p>
        </td>
      <tfoot>
    </tbody>
  </table>
</body>

</html>