{% extends "base.html.j2" %}
{% block title %}Transaction card{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $("#people-nav").removeClass("active");
    $("#transactions-nav").removeClass("active");
    $("#add-person-nav").removeClass("active");
    $("#add-transaction-nav").removeClass("active");
    $("#export-nav").removeClass("active");
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Hi! I'm transaction #{{ transaction['id'] }}</h1>
        <p class="lead">Would you like to edit me or add a memo?</p>
    </div>
</div>
<!-- /.row -->

<div class="row">
  <table id="table_id" class="table">
    <tbody>
      <form id="edit" method="POST" action="{{ url_for('transactions.update', transaction_id=transaction['id']) }}">
        <tr>
          <th>Person</th>
          <td>
            <select name="person_id" form="edit" class="form-control" value="{{ transaction['person'] }}">
              <option value="{{ transaction['person_id'] }}">{{ transaction['person'] }}</option>
            </select>
          </td>
          <td rowspan="4">
            <textarea name="memo" form="edit" class="form-control" rows="8"
              {% if transaction['memo'] %} placeholder="You can add a memo here"
                >{{ transaction['memo'] }}</textarea>
              {% else %}
                placeholder="You can add a memo here"></textarea>
              {% endif %}
          </td>
        </tr>
        <tr>
          <th>Date</th>
          <td>
            <input name="day" form="edit" class="form-control" type="date"value="{{ transaction['date'] }}">
          </td>
        </tr>
        <tr>
          <th>Method</th>
          <td>
            <input name="method" form="edit" class="suppliers form-control" type="text"
              value="{{ transaction['method'] }}">
          </td>
        </tr>
        <tr>
          <th>Amount</th>
          <td>
            <input name="amount" form="edit" class="form-control" type="text"
              value="{{ transaction['amount'] }}">
          </td>
        </tr>
        <tr>
          <th>Accepted by</th>
          <td>
            <input name="accepted_by" form="edit" class="categories form-control" type="text"
              value="{{ transaction['accepted_by'] }}">
          </td>
          
        </tr>
        <tr>
          <th>Tax receipt status</th>
          <td>
            <div class="form-check">
              <input class="form-check-input" form="edit" type="radio" name="receipt_issued" 
                id="receipt_issued_true" value="True" {% if transaction['receipt'] %} checked {% endif %}>
              <label class="form-check-label" for="receipt_issued_true">
                Receipt issued
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" form="edit" type="radio" name="receipt_issued"
                id="receipt_issued_false" value="False" {% if not transaction.get('receipt') %} checked {% endif %}>
              <label class="form-check-label" for="receipt_issued_false">
                No receipt issued yet
              </label>
            </div>
          </td>
        </tr>
      </form>
      <tr>
          <th>Actions</th>
          <td>
              <input type="submit" form="edit" value="Save changes" class="btn btn-success">
              <a href="{{ url_for('transactions.delete', transaction_id=transaction['id']) }}" class="btn btn-danger">
                Delete transaction <i class="fa fa-remove"></i>
              </a>
              <a href="{{ url_for('transactions.receipt', transaction_id=transaction['id']) }}" class="btn btn-info">
                Tax receipt <i class="fa fa-file-text-o"></i>
              </a>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
    <i>Last modified {{ transaction['last_modified'] }}</i>
</div>
<div class="row">
    <i>Created on {{ transaction['created_at'] }}</i>
</div>
{% endblock %}